@import '../../../styles.scss';
.details_date{
    height: 2.2rem;
    border: .1rem solid #CA1A60;
    width: 7.2rem;
    margin-right: .5rem;
    padding: .5rem;
    font-size: .85rem;
}
.graph{
    padding-left: 10rem;
    margin-bottom: 3rem;
}
.btn-graph{
    margin: 0 .5rem;
}
.text-center{
    padding: 4rem 0 2rem;
}