<div *ngFor= "let fund of mutualFund">
  <mat-card class="example-card" >
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>{{fund.schemeName}}</mat-card-title>
      <mat-card-subtitle>{{fund.category}}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <div>
        Fund Id: {{fund.mutualFundId}}
      </div>
      <div>
        An equity fund is a mutual fund that invests principally.It can be actively or passively (index fund)managed.
      </div> 
      <div style="display: flex; justify-content: space-between;">
        <p style="flex-basis: 49.5%; ">Interest Repayment</p>
        <p style="flex-basis: 49.5%; ">{{fund.intrestRepayment}}</p>
        <!-- 49.5% + 49.5% = 99%, remaining 1% is distributed according to justify-content -->
      </div>
      <div style="display: flex; justify-content: space-between;">
        <p style="flex-basis: 49.5%; ">Principal Repayment</p>
        <p style="flex-basis: 49.5%; ">{{fund.principleRepayment}}</p>
        <!-- 49.5% + 49.5% = 99%, remaining 1% is distributed according to justify-content -->
      </div>
      <div style="display: flex; justify-content: space-between;">
        <p style="flex-basis: 49.5%; ">Minimum Investment</p>
        <p style="flex-basis: 49.5%; ">₹ {{fund.amount}}</p>
        <!-- 49.5% + 49.5% = 99%, remaining 1% is distributed according to justify-content -->
      </div>
    
     
    </mat-card-content>
    
    <mat-card-actions>
      
      &nbsp;&nbsp;<button mat-raised-button color="primary" (click)="changePage(fund.schemeName)">View Details</button>
    </mat-card-actions>
    <mat-card-actions>
      
      &nbsp;&nbsp;<button mat-raised-button color="primary" (click)="invest(fund)">Invest</button>
    </mat-card-actions>
    
  </mat-card>
  </div>