<div class="modal fade" id="mainModal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <div class="modal-body_image">
                    <img class="modal-body_image_img" src="../../assets/form_img.png">
                </div>
                <div>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                    <div class="modal-body_form">
                        <router-outlet></router-outlet>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="login">
    <h3 class="login_text">Login here to invest on right place</h3>
    <div  class="login_img">
    <img class="login_img" src="../../assets/images/dizzy-browser-window-with-multi-level-chart.gif">
    </div>
    <!-- <button></button> -->
    <!-- <a data-bs-target="#mainModal" routerLink="/main/modal" data-bs-toggle="modal" >Login</a> -->
</div>