<div class="modal fade" id="mainModal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <div class="modal-body_image">
                    <img class="modal-body_image_img" src="../../assets/images/investment.jpeg">
                </div>
                <div>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                    <div class="modal-body_form">
                        <router-outlet></router-outlet>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<h2>click login</h2>