<div *ngFor= "let realestate of realEstate">
  <mat-card class="example-card" >
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>{{realestate.name}}</mat-card-title>
      <mat-card-subtitle>{{realestate.propertyType}}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <div>
        RealEstate Id: {{realestate.realEstateId}}
      </div>
      <!-- <div>
        An equity fund is a mutual fund that invests principally.It can be actively or passively (index fund)managed.
      </div>  -->
      <div style="display: flex; justify-content: space-between;">
        <p style="flex-basis: 49.5%; ">Location</p>
        <p style="flex-basis: 49.5%; ">{{realestate.location}}</p>
        <!-- 49.5% + 49.5% = 99%, remaining 1% is distributed according to justify-content -->
      </div>
      <div style="display: flex; justify-content: space-between;">
        <p style="flex-basis: 49.5%; ">Current Price</p>
        <p style="flex-basis: 49.5%; ">{{realestate.currentPrice}}</p>
        <!-- 49.5% + 49.5% = 99%, remaining 1% is distributed according to justify-content -->
      </div>
      <div style="display: flex; justify-content: space-between;">
        <p style="flex-basis: 49.5%; ">Previous Price</p>
        <p style="flex-basis: 49.5%; ">{{realestate.previousPrice}}</p>
        <!-- 49.5% + 49.5% = 99%, remaining 1% is distributed according to justify-content -->
      </div>
    
     
    </mat-card-content>
    
    <mat-card-actions>
      
      &nbsp;&nbsp;<button mat-raised-button color="primary" (click)="changeVolume(realestate)">Invest</button>
    </mat-card-actions>
    
  </mat-card>
  </div>