@import '../../../styles.scss';
.navbar{
    margin: 0;
    border-radius: 0;
    justify-content: right;
    height: 3.5rem;
    box-shadow: 0 .4rem .5rem rgb(181, 181, 181);
}
.select_country{
    margin: 0 4rem 0 0;
    border: 0;
    &_bar{
        border-radius: 0;
        width: 14rem;
        height: 2rem;
        background-color: rgb(221, 221, 221);
        color: rgb(0, 0, 0);
        font-size: 1rem;
    }
    &_label{
        color: rgb(0, 0, 0);
        margin: .8rem;
    }
}
.pagination_div{
    justify-content: center;
    margin-top: 5rem;
}
.body{
    font-size: 1.5rem;
}
.stock_table{
    margin: 4rem 9rem;
    font-size: .9rem;
}